@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato";
  font-weight: 400;
  color: rgba(24, 26, 24, 1);
}

/* Header section */
#header-div {
  width: 100%;
  height: 83px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 60px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  height: 58px;
}

#nav-bar img {
  width: 130px;
  /* height: 58px; */
}

#nav-bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

#header-div li {
  font-family: "lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

#header-div a {
  text-decoration: none;
  color: rgba(24, 26, 24, 1);
}

#nav-bar .hambuggar {
  display: none;
}

/* Hero section */
#hero-section {
  background-image: url(../images/Hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 767px;
  position: relative;
}

#hero-section #hero-text-div {
  background-color: rgba(255, 255, 255, 1);
  width: 450px;
  height: 336px;
  position: absolute;
  top: 140px;
  padding: 60px 80px 60px 80px;
  gap: 32px;
  border-radius: 0px 60px 60px 0px;
}

#hero-text-div .hero-text {
  width: 325px;
  height: 216px;
  gap: 24px;
}

#hero-text-div .hero-text h2 {
  color: rgba(24, 26, 24, 1);
  font-size: 52px;
  line-height: 60px;
  text-align: left;
  margin-bottom: 20px;
}

#hero-text-div .hero-text p {
  color: rgba(24, 26, 24, 1);
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin-bottom: 20px;
}

/* Future Section */
#future-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: auto;
  margin: 70px auto;
  /* flex: 1; */
}

#future-div .future-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 640px;
  height: 378px;
  border-radius: 0px 60px 60px 0px;
  flex: 1;
}

.future-images img {
  /* width: 200px; */
  /* height: 189px; */
}

#future-div .future-text {
  background: rgba(242, 240, 242, 1);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  width: 640px;
  height: 378px;
  left: 640px;
  padding: 120px 80px 120px 80px;
}

.future-text .f-text {
  width: 450px;
  height: 138px;
  flex: 1;
}

.future-text h2 {
  font-family: "lato";
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  padding-bottom: 20px;
  text-align: left;
}

.future-text p {
  font-family: "lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 480px;
  height: 60px;
}

/* Feature Section */
#feature-section {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  gap: 60px;
}

#feature-section .feature-text {
  background-color: rgba(255, 255, 255, 1);
  max-width: 847px;
  max-height: 172px;
}

.feature-text h2 {
  background-color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.feature-text p {
  background-color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  padding: 10px 5px;
}

.feature-divs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
}

.fa-solid {
  font-size: 2rem;
}

.divs h4 {
  margin: 10px 0 10px 0px;
}

.feature-divs .divs {
  background-color: rgba(226, 241, 232, 1);
  border-radius: 30px;
  width: 305px;
  height: 248px;
  padding: 32px 40px 32px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.feature-divs h4 {
  font-weight: bold;
}




/* Location Section */
/* #location-section {
  max-width: 100%;
  height: 502px;
  padding: 0px 80px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-text h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  color: rgba(24, 26, 24, 1);
  text-align: center;
  padding-bottom: 45px;
}

.location-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-images .loc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8px;
  flex-wrap: wrap;
}

.loc p {
  font-family: "lato";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  margin: 15px;
}

.location-btn {
  background-color: rgba(6, 71, 73, 1);
  max-width: 201px;
  max-height: 48px;
  padding: 12px 40px;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  margin: 35px;
} */

/* RESPONSIVINESS */
@media (max-width: 767px) {
  #header-div {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%px;
    height: 64px;
    padding: 12px 16px;
    gap: 50px;
  }

  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 58px;
  }

  #nav-bar img {
    width: 67px;
    height: 40px;
  }

  #nav-bar ul {
    display: none;
  }

  #header-div li {
    font-size: 18px;
    line-height: 24px;
  }

  #header-div a {
    text-decoration: none;
    color: rgba(24, 26, 24, 1);
  }

  #nav-bar .hambuggar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  /* Hero Responsiviness */
  #hero-section {
    background-image: url(../images/Hero.png);
    background-repeat: no-repeat;
    background-position: 60% 80%;
    width: 100%;
    height: 748px;
    position: relative;
  }

  #hero-section #hero-text-div {
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    width: 340px;
    height: 232px;
    top: 25px;
    padding: 32px 0px 0px 0px;
    gap: 20px;
    border-radius: 0px 40px 40px 0px;
  }

  #hero-text-div .hero-text {
    width: 296px;
    height: 168px;
    gap: 16px;
  }

  #hero-text-div .hero-text h2 {
    color: rgba(24, 26, 24, 1);
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: left;
    padding-left: 14%;
  }

  #hero-text-div .hero-text p {
    color: rgba(24, 26, 24, 1);
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    padding-left: 14%;
  }

  /* Future Responsiviness */
  #future-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 552px;
    margin: 70px 0;
  }

  #future-div .future-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 640px;
    height: 378px;
  }

  .future-images img {
    width: 320px;
    height: 189px;
    /* width: 170px;
    height: 160px; */
  }

  #future-div .future-text {
    background: rgba(242, 240, 242, 1);
    width: 640px;
    height: 378px;
    left: 640px;
    padding: 10px 10px;
  }

  .future-text .f-text {
    width: 100%;
    height: 168px;
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .future-text h2 {
    font-family: "lato";
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
  }

  .future-text p {
    font-family: "lato";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }


  /* Feature Responsiviness */
  #feature-section {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    width: 100%;
    /* height: 980px; */
    padding: 0px 16px;
    gap: 40px;
  }

  #feature-section .feature-text {
    background-color: rgba(255, 255, 255, 1);
    max-width: 847px;
    max-height: 172px;
  }

  .feature-text h2 {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .feature-text p {
    background-color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .feature-divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    width: 100%;
    height: 776px;
    gap: 20px;
  }

  .fa-solid {
    font-size: 40px;
  }

  .divs h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  .divs p {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    width: 279px;
    height: 36px;
  }

  .feature-divs .divs {
    background-color: rgba(226, 241, 232, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 188px;
    gap: 16px;
  }

  .feature-divs h4 {
    font-weight: bold;
  }


  /* Location Responsiviness */
  /* #location-section {
    max-width: 100%;
    height: 502px;
    padding: 0px 80px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location-text h2 {
    color: rgba(24, 26, 24, 1);
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
  }

  .location-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .location-images .loc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 8px;
    flex-wrap: wrap;
  }

  .loc p {
    font-family: "lato";
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    margin: 15px;
  }

  .location-btn {
    background-color: rgba(6, 71, 73, 1);
    width: 172px;
    height: 44px;
    padding: 12px 32px 12px 32px;
    gap: 10px;
    border-radius: 40px;
  } */
}
